---
export interface CertificationCardProps {
  title: string;
  description: string;
  imageSrc: string; // URL for the top image
  imageAlt?: string;
  borderColor: "neon-cyan" | "neon-purple";
  certDate?: string; // e.g. "June 2025"
  features: string[];
}

const {
  title,
  description,
  imageSrc,
  imageAlt,
  borderColor,
  certDate,
  features,
} = Astro.props;
---

<div
  class={`bg-dark-space rounded-lg overflow-hidden transition-all duration-300 group hover:shadow-lg border max-w-3xl w-full transform hover:scale-[1.03] ${
    borderColor === "neon-cyan"
      ? "border-neon-cyan/30 hover:border-neon-cyan hover:shadow-neon-cyan/20"
      : "border-neon-purple/30 hover:border-neon-purple hover:shadow-neon-purple/20"
  }`}
>
  <div class="flex flex-row gap-6 md:flex-row md:items-stretch">
    <div class="p-6 flex-1 text-left">
      <h3
        class={`text-xl font-bold mb-1 ${
          borderColor === "neon-cyan" ? "text-neon-cyan" : "text-neon-purple"
        }`}
      >
        {title}
      </h3>

      {
        certDate && (
          <div class="text-sm text-gray-200 mb-3">Certified: {certDate}</div>
        )
      }

      <p class="text-gray-100 mb-4">{description}</p>

      <ul class="space-y-2 text-gray-300">
        {
          features.map((feature: string) => (
            <li class="flex items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class={`h-4 w-4 mr-2 ${
                  borderColor === "neon-cyan"
                    ? "text-neon-purple"
                    : "text-neon-cyan"
                }`}
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"
                />
              </svg>
              {feature}
            </li>
          ))
        }
      </ul>
    </div>

    <div class=" w-full md:flex-shrink-0">
      <img
        src={imageSrc}
        alt={imageAlt ?? title}
        class="object-cover"
      />
    </div>
  </div>
</div>
