---
import { date } from 'astro:schema';
import type { JsonColumn } from '@astrojs/db/types';

interface Props {
  featured: boolean;
  id: number;
  title: string;
  slug: string;
  description: string;
  stack: JsonColumn;
  image: string;
  alt: string;
  url: string;
  repo: string;
  dateCreated: typeof date;
}

const {id, title, slug, description, stack, image, alt, url, repo, dateCreated} = Astro.props;
---
<p>
  {id}, {title}, {slug}, {description}, {stack}, {repo}, {dateCreated}
</p>
  <a href={url} class="block">
    <img
      src={image}
      alt={alt}
      class="w-full h-48 object-cover group-hover:scale-105 transition-transform duration-500"
    />